.main {
  display: grid;
  grid-gap: 10px 20px;
  margin: 20px auto;
  min-width: 500px;
  outline: 3px dashed orangered;
  padding: 15px;

  grid-template-areas:
    "store cart reco"
    "image name reco"
    "image options reco"
    "image buy reco";
  grid-template-columns: 4fr 3fr 200px;
  width: 1000px;
}

.title {
  font-weight: 400;
  grid-area: store;
  margin-top: 5px;
}

.productImage {
  grid-area: image;
}

.cartArea {
  grid-area: cart;
  align-self: baseline;
  justify-self: end;
  margin-top: 11px;
}

.productName {
  grid-area: name;
}

.productOptions {
  grid-area: options;
  align-self: center;
  display: flex;
}

.checkout {
  grid-area: buy;
}

.related {
  grid-area: reco;
}

.small {
  font-weight: 300;
}
